body,td
{
        font-family     : Helvetica;
        font-size       : 10pt;
        font-style      : normal;
        font-variant    : normal;
        font-weight     : normal;
        color           : #272378;
}
